# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# ignore vim swap files
*~
*.swp
*.swo


#ignore data symlink 
sites/all/modules/mod_muziekladder/data
