/* global */
@font-face {
  font-family: 'PatuaOneRegular';
  src: url('../fonts/Patua/PatuaOne-Regular-webfont.eot');
  src: url('../fonts/Patua/PatuaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Patua/PatuaOne-Regular-webfont.woff') format('woff'),
       url('../fonts/Patua/PatuaOne-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Patua/PatuaOne-Regular-webfont.svg#PatuaOneRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#main{
  background:#fff;
  padding-top:120px;
}
#block-locale-language{
  display:none;  
}
.muziekladder_logo{
  margin-left:2px;
  float:left; 
  cursor:pointer;
}
.muziekladder_logo img{
  margin-top:7px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  width:198px;
}
.scrolling .muziekladder_logo img{
  margin-top:2px;
  width:110px;    
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

body { 
  font-size: 18px;  
  line-height:1.4;
  color:#333;
}
a {
  color:steelblue;
}
a:hover{
  color:HotPink;
  text-decoration:none;  
}
a:visited {
}
label{font-size:16px}

.front-search h1.page__title, h1{
  color:#dfdfdf;
  text-align:left;
  margin-bottom:0.4em 
}
.front-search h1.page__title{
  padding-left:12px;

}
h1.page__title,
h1{
  font: 34px/36px 'PatuaOneRegular', Georgia, "Times New Roman", Times, serif; 
  margin-bottom:1em;
  margin-top:10px;
  color:#333;
}
h2{
  font-size:28px;
}
h2,h3 {
   font-family: 'PatuaOneRegular', Georgia, "Times New Roman", Times, serif; 
  font-weight:normal  
}
blockquote {
  font-size: 16px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #efefef;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
.waiting{
	height:20px;
    background-image:url('../img/ajax-loader.gif'); 
    background-position:center center; 
    background-repeat:no-repeat; 
}

#content article li{
  line-height:1.8
}
.node-teaser  ul {
  margin-left:0px;
}

/* front */
.front .city_gig_agenda h1{
  display:none  
}

.city_gig_agenda .human-date { 
  font-size:20px;
  font-weight:normal; 
  color:white;
  background:#333;
  padding:0px 30px;
  margin:24px 0px 0px -10px;
  font-family: 'PatuaOneRegular', Georgia, "Times New Roman", Times, serif; 
  font-weight:normal;
}
.front #main{
  padding-left:8px;  
}
.front #content {
  position:relative;
  padding-top:340px;
  padding-left:0px;
  padding-right:0px;
}

.front .description{
  display:none
}
.front .sidebar-city, 
.front .region-sidebar-first, 
.front .region-sidebar-second{
  padding-left:16px;
  padding-right:0px;  
}
.front ul.city_agendas {
  margin:0px
} 
.front ul.city_agendas li {
  list-style:none;
  display:block;
  padding:4px 8px;
  font-weight:bold;
  margin:2px;
  border-left: 12px solid LightSteelBlue;
  border-top: 2px solid lightsteelblue; 
}
.front ul.city_agendas li a {
  display:block;
} 

.front ul.city_agendas li:hover {
  background:AliceBlue
} 

.front .sidebar .description{
  display:none
}

.front #content > article{
  height:300px;
  overflow:hidden;
  width:100%;
  opacity:0;
  background:black;
  position:absolute; 
  top:0px;
  left:0px;
  -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms ;
  cursor:pointer
}

.front #content article.processed .field{
  display:none;  
}

.front #content article.processed ul.inline{
  display:none;  
}

.front #content article.processed header{
  position:absolute;
  bottom:0px;
  left:0px;
 
}
.front #content article.processed header h2{
  padding:0px 8px; 
  background:white;
  border-top-right-radius:6px;
  margin-bottom:0px;
  font-size:26px; 
} 


.front #content article.processed header h2 button{ 
  margin-left:16px;
}

.front #content article.processed header h2 a{
  font-size:22px;
  line-height:2;

}

.front #content article.processed > img{
  position:absolute;
  top:0px !important;
  left:0px !important;
  width:100% !important;
  bottom:0px  !important;
}
.front #content article.current{ 
  opacity:1
} 

.front #content article img{
}
.front #content .links.inline{
}
.front #content article p{
  display:none
}
.front #content  article > .field{
  padding:20px;

}

.front .startDate{display:none}
.front .event{
	padding:10px 0px; 
	
}
.front .locationmenu{
  display:none  
}
.front .locationmenu{
  display:none  
}
.front .locationUnit {
 box-shadow:none;
 border-top:1px solid lightsteelblue; 
 margin-bottom:0px;
 padding:4px 0px;
}
.front .locationUnit .locationName{
  display:none; 
}
.front .eventContainerInner .title{
}
.front .naar-agenda-link{
  float:right;  
}

.front #agenda{
  background:white;
  margin-bottom:1em;
}
.front .eventContainerInner .description{
  display:none;
}
.front .pager{display:none} 
.front .node-teaser{}
.front-search{
  text-align:center;
  background:black;
  padding:10px 0px;
  margin: 40px auto 60px auto;
  box-shadow:0px 0px 40px #666; 
  border-radius:6px;
  width:80%
}
.front-search form {
  margin-bottom:0px; 
}
.front-search button{
  margin-left:1%;
  width:15%    
}
#front-search-input{
  font-size:27px;
  height:auto;
  line-height:1.2;
  width:80%;
  margin-bottom:0px 
}

.bg-image-container{
  position:absolute; 
  top:0px;
  left:0px;
  margin-top:4px; 
  height:800px;
  width:100%; 
}
.bg-image{
  position:absolute;
  width:100%;
  height:800px;
  opacity:1;
}
/*
.bg-image:after{
  content : " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(240,240,240,0), rgba(235,235,235,1) ) ; 
}
*/
.front .frontheader{
  padding:0px 10px;
}
.node .submitted{
  font-style: italic; 
  
  margin-bottom:0px;
}
.node .field-items{
clear:both;  
} 


.block-mod-muziekladder .event{
  background-color:white;
  border-radius:4px; 
  padding:0.5em 1em;
  margin-bottom:1em;
  box-shadow: 0px 0px 8px #aaa;
}
.block-mod-muziekladder .event h4 a{
  color:lightsteelblue;
}
.block-mod-muziekladder .event h4{
background: #222;
padding: 0.5em;
margin: 0em -0.5em 0.5em -0.5em;
border-radius: 4px;
}

.nodisplay{display:none}
.rightalign{float:right; margin-left:1em; margin-bottom:1em}
.leftalign{float:left; margin-right:1em; margin-bottom:1em}

.controls{
  margin-bottom:40px;
  visibility:hidden; 
}
.controls .monthselect{width:110px; }
.controls .dayselect{width:180px;}
.dateselectContainer{display:none}

/* top navigation */

.selectContainer select{margin-top:5px; 
  margin-left:20px; margin-bottom:0px; float:left
}
.form-search-container{
  float:right;
  padding-top:30px;
  padding-right:24px;
  padding-left:30px;
  border-right:1px solid #666;
  height:60px;
  -webkit-transition: all 200ms ;
  -moz-transition: all 200ms ;
  -o-transition: all 200ms ;
  transition: all 200ms ;

}
.scrolling .form-search-container{
  height:40px;
  padding-top:10px;
  
}
.form-search-container form{
    margin-bottom:10px;
}
.nav-pills.nav-stacked > li > a{
  background:#efefef;
  box-shadow: inset 0px 0px 2px #afafaf;
}
.nav-pills.nav-stacked > li > a:hover{
  background:white;
}

.brand{ 
  display:block;
  margin:0 auto; 
  max-width:1200px;
}
#page {
  min-height:900px
}
#navigation{
  background:#111;
  position:fixed;
  height:auto;
  top:0px;
  left:0px;
  z-index:4;
  border-bottom:1px solid #666;
  
}
#navigation.scrolling{
  height:50px;
} 
#navigation .block{
  vertical-align:bottom;
}

/* top menu */
#block-system-main-menu{
 position:relative;
 float:right; 
}

#block-system-main-menu .menu li{
 text-align:center;
 min-width:70px; 
 height:55px;
 padding-top:35px;
 padding-bottom:0px;
 padding-left:24px;
 padding-right:24px;
 -webkit-transition: all 200ms ;
 -moz-transition: all 200ms ;
 -o-transition: all 200ms ;
 transition: all 200ms ;
 cursor:pointer;
 border-right:1px solid #666;
}



.scrolling #block-system-main-menu .menu li{
 height:35px;
 padding-top:15px;
 padding-bottom:0px;
 padding-left:24px;
 padding-right:24px;
}


#block-system-main-menu .menu li:first-of-type{
 border-left:1px solid #666

} 
#block-system-main-menu .menu li.hover{
 background-color:#555;
 text-shadow: 0px 0px 6px #000;
 box-shadow:none; 

}

#block-system-main-menu .menu li.selected,
.dagoverzicht  #block-system-main-menu .menu li.menu-385,
.locaties #block-system-main-menu .menu li.menu-387,
.locationPage #block-system-main-menu .menu li.menu-387,
.section-nieuws #block-system-main-menu .menu li.menu-384,
.front #block-system-main-menu .menu li.menu-384,
.muziekformulier  #block-system-main-menu .menu li.menu-475

{
  box-shadow:none;
  overflow: hidden;
  background:white;
  position:relative;
  top:1px;
}

#block-system-main-menu .menu li.selected a,
.dagoverzicht  #block-system-main-menu .menu li.menu-385 a,
.locationPage #block-system-main-menu .menu li.menu-387 a,
.locaties #block-system-main-menu .menu li.menu-387 a,
.section-nieuws #block-system-main-menu .menu li.menu-384 a,
.front #block-system-main-menu .menu li.menu-384 a,
.muziekformulier  #block-system-main-menu .menu li.menu-475 a
{
  color:#333;
  text-shadow:none;
}

.brand .menu a{
  vertical-align:bottom;
  font-family:Arial, sans-serif;
  font-size:18px;
  line-height:0.9;
  font-weight:bold;
  color:whitesmoke;
  text-decoration:none;
  white-space:nowrap; 
  display:block
}

.brand a.logo:hover {
  opacity:0.9;
}
.brand a.logo em{
  padding-left:8px;
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size:16px; font-weight:normal; white-space:nowrap;
  color:#ABD3E8;  
}
.brand a.navi.selected:hover,
.brand a.navi.selected{
    background-image:url('../img/bg.png'); color:#333;
    box-shadow:none;
    top:2px;
}

.locationmenu ul li{
  overflow:hidden;  
}



/*footer*/
footer{
 background:#333;
 text-align:center;
 padding-top:20px;
 padding-bottom:80px;
 min-height:100px;
}


/* day display */
.image-cell{
  float:left;
  margin:0px 10px;
}
.image-cell img{
  max-width:60px;
  max-height:60px;
}
.dagoverzicht h1{
  font-size:28px;
} 
.dagoverzicht h2.pagina{
  font-size:20px;
  color:SlateGray;
  font-style:italic;
  margin:0px;
}
.city_gig_agenda .navigation span.label-el{
  display:block; 
  float:left;
  margin-right:10px;
  font-weight:bold;
}
 
.city_gig_agenda .navigation nav{
  float:left;
  margin-bottom:10px;
  margin-right:20px;
} 
.dagoverzicht .page-nav-container{
  min-height:1.5em;
}
.dagoverzicht .page-nav-container.bottom{
  border-top:2px solid LightSteelBlue;
  border-bottom:0px;
  text-align:center;
  padding-top:2em;
  padding-bottom:2em;

} 
.dagoverzicht .city_header:hover a{
  text-decoration:underline;
  color:hotpink;
}

.dagoverzicht .city_header a{
  color:white;
}

.dagoverzicht .city_header{
  background:LightSteelBlue;
  font-size:20px;
  padding-left:12px;
  margin-bottom:-2px
}
.city_gig {
  margin-top:2px;
  padding:4px 0px;
}
.city_gig .city{
  padding-left:8px;
} 

.city_gig .date{
  font-style:italic;

}
.city_gig .cell{
    float:left;
    width:50%;
   padding:8px 0px ;
}
 .city_gig .name{
  padding-left:8px;
  display:block
} 
.city_gig{
  border-left:12px solid LightSteelBlue;
  border-top:2px solid lightsteelblue;
  background:white;
} 
.city_gig .date{
  float:right;
} 
                           
.city_gig:hover {
  background:aliceblue
} 

.dagoverzicht .filter-row {
  margin-bottom:12px;
  margin-top:-8px;
}
.dagoverzicht .filter-row .label{
    margin-right:8px;
}

html body.doneloading .container{
  background-image:none
}

.city-select{
  width: 170px
}
.city-select label span{
  cursor:pointer;
}
.city-select label.checked span{
font-weight:bold; 
color:Maroon  

}
.dagoverzicht .container h1{
  color:SteelBlue;
  margin-bottom:1em;

  letter-spacing: 0;  
}
.dagoverzicht .checkbox{
  font-size:12px;  
}

.agenda-date-selecter{
  float:left;
  margin-right:12px;
}
.startdatum-container,
.daybutton-container{
  float:left;
}
.startdatum-container{
  margin-bottom:1em;

}
.prevnextlinks a{
  text-decoration:none;
}
.prevnextlinks button{
  display:none
}

.locationUnit{
  margin-bottom:10px; 
  box-shadow: 0px 0px 30px #999; 
}
.locationUnit h4{
  font-size:16px;
  padding:0px; 
  margin:0px
}
.eventContainerInner .title{
  float:left; 
  width:69%; 
  padding-right:1%
}
.eventContainerInner .description{
  float:left;
  padding-right:1%;
  font-size:0.9em;
  display:none;
}
.eventContainerInner .time-space{
    float:left;
    width:30%;
    text-align:right;
    font-size:0.9em;
}
.eventContainerInner .time-space p{
   margin-bottom:0px    
}

.locationUnit h2{
  font-size:18px;
  padding-left:12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  margin-top:0px;
  color:steelblue;
  cursor:pointer;
  margin-bottom:0px;
  background:#efefef;

}
.locationUnit h2 small{
  font-style:italic;
}
.locationUnit a.backtotop{
  float:right;
  margin-right:8px;
  display:block;
}
.locationInfo{
  display:none;
  background:white;
  color:#333;
  padding:10px 20px;
  margin-bottom:10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top:1px solid #dfdfdf;

}
.locationInfo .description {
    float:right;
    width:50%;
    font-style:italic;
    font-size:14px;
}


.dagoverzicht .locationEvents{
    
}
.dagoverzicht .event{
  background:#fff;
  padding:12px;
  border-bottom:1px solid #dfdfdf;
}
.event p{}


.event .addthisicon{
  float:right; cursor:pointer;
  margin-left:10px;
  
}
.dagoverzicht .eventImg img{ 
  max-width:60px;
  max-height:60px;
  float:left;
  margin:0px 12px 8px 0px;
}

/* locatie pagina's */
.page-uitgaan .node-container{
  display:none  
}

.page-uitgaan .node-container.active{
  display:block

}

#city_autocomplete{
  font-size:28px;
  line-height:1.2;
  height:auto;
}
.maps_infowindowcontent{
  width:300px;  
}

.maps_infowindowcontent .desc{
  display:none;

}
.locaties .maps_infowindowcontent .adres{
  display:block;
} 

.map-placeholder img{
  max-width:none;
}

ul.locaties-lijst{
  float:left;
  list-style:none;
  margin:0px;
  width:33.3333333333%;
}
ul.locaties-lijst p{
  font-size:15px;
}
.locaties .adres{
  display:none
}

.locatiebeschrijving h4 {
  background:#efefef;
  text-align:center;
  display:block;
  padding:8px 4px;
}


.locaties-lijst:first-of-type .locatiebeschrijving {
  padding-left:0px;
}
.locatiebeschrijving {
  
  padding-left:14px;
  margin-bottom:10px;
  border:0px;
  border-radius:0;
  box-shadow:none;
  padding-bottom:10px;

}
.locatiebeschrijving:hover p{
  background:LightYellow;
  cursor:pointer  
}
.locatiebeschrijving:hover h4{
  background:black;
  cursor:pointer  
}
.locatiebeschrijving:hover h4 a{
  color:white
}
 
.locatiebeschrijving .desc{
  
} 
.city-container h1 {
  border-bottom:2px dotted #ccc
}
.map-placeholder{
    width:100%;    
    box-shadow:0px 0px 10px white;
    background-image:url('../img/ajax-loader.gif'); 
    background-position:center center; 
    background-repeat:no-repeat;
    min-height:200px;
    background:#efefef;
}
.stedencontainer{
  margin-top:24px;
  padding-bottom:12px;
 
    background:white
}

ul.steden {margin:0px}

ul.steden li:nth-child(2n){background:#dfdfdf; border-radius:4px; }

ul.steden li{
  list-style:none;
  padding:10px; 
  float:left;
  line-height:2;
  min-width:146px;
  font-size:0.8em;
  transition: 0.5s  all;
  
}
ul.steden li:hover {
    background:white;  
  }
  /*gig / event pagina's */
  .detail h2{
    font-size:30px;
  }
.detail h3 strong{
  font-weight:normal  
}
.section-gig .addthisicon{
  float:right; 
}
.detail .location{
  background:#efefef;
  padding:6px 10px;
  clear:both;
  border-top:5px solid LightSteelBlue  ;
  border-left:10px solid LightSteelBlue  ;
  margin-bottom:20px;
  margin-top:40px;
}
.addthis_native_toolbox{
  min-height:2em;
}
.detail .eventfull {
  margin-bottom:40px;
} 
.detail .eventfull .event-container{
   border-left:10px solid LightSteelBlue  ;
   border-top:5px solid LightSteelBlue  ;
   padding-bottom:20px;
   padding-left:8px; 
  
}

.detail .eventImg{ 
  float:right; margin:20px; margin-top:10px; margin-right:0px;
  box-shadow:-2px 1px 8px #999;
  
  max-width:30%;
}
.detail .eventfull a.addthisicon{
  display:block;
  margin-bottom:1em; 
}


/* locationpages   */ 
.locationPage .location{
  font-size: 16px;
  padding:8px 15px 15px 20px;
  background:#f5f5f5;
  border-radius:4px;
  margin-bottom:8px;

}
.locationPage #content{
  background:white;  
} 
.locationPage .location-title{
  display:none
}
.locationPage .twittercontainer{
  float:right;
  margin:6px 0px 0px 20px;
  min-width:400px
}
.locationPage .event a{
  display:inline-block;

}
 
.locationPage .event{
  padding:14px 0px;
  cursor:pointer;
  border-bottom:2px dotted #333;
}


/* home */
.articlefull h1,
.index h1{margin-bottom:1em}
.index article h1{font-size:34px;
    line-height:1.2
}

.index .event p{
    margin-top:1em;
    margin-bottom:1em;
    overflow:hidden;
}
.index .event h4{
  background:#222;
  padding:0.5em;
  margin:0em -0.5em;
  border-radius:4px;
}
.index .event h4 a{
  color:lightSteelBlue;
}
.index article,
.index .event{
  padding:0.5em 1em;
  background-color:#fff;
  border-radius:4px;
  margin-bottom:2em;
  box-shadow:0px 0px 8px #aaa
}
.index article{
  padding-top:0.1em;
  padding-bottom:1em
}
/*rss news */
.front .after_content {
}
.after_content h3,
.after_content h2{
font-family: 'PatuaOneRegular', Georgia, "Times New Roman", Times, serif;
font-weight: normal;
font-size: 26px;    
line-height:1.2
}
.after_content h3{
font-size: 20px;    

}

.after_content h2{
     margin-top:0px;
     border-bottom:1px solid #ccc;
     padding-bottom:8px;
}
.after_content .page_section {
    width:33%;
    float:left;
    overflow:hidden;    
}
.after_content .page_section .joriso-news-block {
    padding:16px;
    margin-left:10px;
    margin-bottom:14px;
    background:white; 
    border-radius:4px;
    overflow:hidden;
    box-shadow:1px 1px 10px #ccc
}
.after_content .page_section .joriso-news-item {
  margin-bottom:24px;
}
.after_content .page_section .joriso-news-item p{
    display:none
}
.citymenu {
  margin-bottom:3em;
}

.citymenu .span2{
  background:white;
  text-align:center;
  border-radius:4px;
  -webkit-transition: 0.2s  all;
  -moz-transition: 0.2s  all;
  -ms-transition: 0.2s  all;
  -o-transition: 0.2s  all;
  transition: 0.2s  all;
  cursor:pointer;
  font-weight:bold; 
}
.citymenu .selected,
.citymenu .span2:hover{
  background:SteelBlue;
}
.citymenu div.selected a,
.citymenu .span2:hover a{
  color:white
}
.citymenu .span2 a{
  color:#005580;
  line-height:3;
  text-decoration:none
} 

.after_content {
    clear:both;   
}
#frontTabs {
    border-bottom:1px solid #ccc;
    padding-bottom:0px;
    margin-bottom:20px;
}
#frontTabs ul {
    margin-bottom:0px;
    padding-bottom:0px
}
#frontTabs li:hover, 
#frontTabs li.active {
    opacity:1;   
    background:white;
}
#frontTabs li.active:hover {
    box-shadow:none;
}
#frontTabs li:hover{
    box-shadow:inset 0px 0px 10px #ccc;

}

#frontTabs li {
    font-weight:bold;
    cursor:pointer; 
    list-style:none;
    display:inline-block;
    background:white; 
    padding:12px 20px;
    opacity:0.8; 
    background:#dfdfdf;
    border:1px solid #ccc;
    border-bottom:0px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    transition: 0.2s  all;
    color:#005580;
}

/*article pages*/ 
article p{
  line-height:1.8;
}

.articlefull article{
  font-size: 16px;
  padding:8px 15px 15px 20px;
  background:#f5f5f5;
  border-radius:4px;
}

/* search results */
.search{}
.search-result-row2{
  margin-bottom:24px;
  border-bottom:1px solid white;
  padding-bottom:24px;
}

.section-nieuws .article-container{
  background:white; 
  padding:0.5em 1em; 
  border-radius:4px;
  box-shadow:0px 0px 4px #aaa;
} 
.node-teaser .submitted,
.section-nieuws .submitted{
  float:right;
  font-size:x-small; 
  padding:4px 6px;
}

/* zoekpagina   */
.zoekpagina .advanced-search-options{
  margin-top:12px;          
}

/* muziekformulier  */
 
.section-muziekformulier .eventfull{
  margin-top:30px;
  padding: 8px 15px 15px 15px;
  box-shadow:0px 0px 20px #999;
}
span.submitted{
  float:right;  
  font-size:12px;
  font-style:italic;
}
a.tip-button{
	float:right;
	background:#f5f5f5; 
	border-radius:6px; 
	padding:6px;
  margin-top:6px;
  margin-right:8px;
  font-size:small;
  margin-left:12px;
}


.form-item-venue-freetext input,
body.page-muziekformulier select {
    width:80%;
} 
body.page-muziekformulier .form-item-location,
body.page-muziekformulier .form-item-link,
body.page-muziekformulier .form-item-city
{
    
}
body.page-muziekformulier .form-item-title input,
body.page-muziekformulier .form-item-location input,
body.page-muziekformulier .form-item-link input,
body.page-muziekformulier .form-item-city input{
    width:80%;     
}

body.page-muziekformulier .form-item-date select{
    width:80px
}
form .description{
   font-style:italic; 
}
body.page-muziekformulier form {
}

/* uitgaan */
.page-uitgaan .city-container #agenda{
   min-height:200px;
   background-image:url('../img/ajax-loader.gif'); 
   background-position:center center; 
   background-repeat:no-repeat;
}
.page-uitgaan .club-container {
  background:white;
  padding:10px 0px;
} 
.page-uitgaan .club-container .breadcrumb{
  display:none
}
.page-uitgaan .club-container .description{
  padding:10px 0px;
  border-top:2px solid white;
  border-bottom:2px dotted #ccc;
  margin:10px 0px;  
}
.page-uitgaan .club-container .event{
  border-top:2px dotted #ccc; 
  padding:10px 10px 10px 0px; 
} 
.page-uitgaan .club-container .event .icon-stop{
 display:none;
}

.user-input{
  border-bottom:2px dotted #333; 
}
.user-input h3{


}
.user-input-inner{
  padding:20px;
}

.user-input-inner .muziek_cell1{
  width:35%;
  float:left;
  padding-right:1%;
}
.user-input-inner .muziek_cell2{
  width:64%;
  float:left;
}
.user-input-inner .muziek_cell3{
clear: both; 
}

/* media queries*/
/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {    
  #block-system-main-menu .menu li{
    padding-left:8px; 
    padding-right:8px;
  } 

 .dateselectContainer label { display:none}

 .page-uitgaan .map-placeholder{
      float:none;
      width:auto;
        
  }
 .page-uitgaan .stedencontainer{margin-bottom:8px;
      width:auto;
      float:none;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width:769px) {
  ul.locaties-lijst{
    float:left;
    list-style:none;
    margin:0px;
    width:50%;
  }

  .user-input-inner .muziek_cell2,
  .user-input-inner .muziek_cell1{
    width:100%;
    float:none;  
  }

  
  .city_gig .cell{
    float:none;
    clear:both;
    width:100%;

  }
  .city_gig .city{
  padding-left:8px;
  clear:left;} 

 h1.page__title, h1{
   font-size:28px;
   line-height:1.2
 } 
 
 .front #agenda h2{
   font-size:26px 
 }
  
  .front-search{
    width:90%;
  } 
  .front-search button{
    margin-left:1%;
    width:10%    
  }

   
  .form-search-container{
    display:none;  
  } 

  body {
    padding-right:0px;
    padding-left:0px; 
  }
  .eventContainerInner .title{
    float:none;  width:auto; padding-right:0;
    margin-bottom:1em
  }

  .eventContainerInner .description{
    float:none;  width:auto;  padding-right:0;
  }
  .eventContainerInner .time-space{
    float:none;   width:auto;   text-align:left;
  }
  #block-system-main-menu .menu li{
   margin-right:3px;
   margin-left:2px;
   padding-bottom:0px;
   padding-left:2px;
   padding-right:2px;
   
  }
  #block-system-main-menu .menu li a {
    font-size:16px;
  }
  .controls div[class*="span"]{margin-bottom:8px; text-align:right}
  .after_content .page_section{
    width:100%;        
  }
}

/* Landscape phones and down */
@media (max-width: 500px) {
  ul.locaties-lijst{
    float:left;
    list-style:none;
    margin:0px;
    width:100%;
  }

  #block-system-main-menu .menu li a{
    font-size:12px;  
    
  }
  .muziekladder_logo,
  #block-system-main-menu .menu li{
    padding-left:0px; 
    padding-right:0px;
    margin:0px; 
    width:25%;
    overflow:hidden; 
  }
 

  #navigation{
    position:absolute;
  } 
  .muziekladder_logo img{
    width:100px;
  }

  #front-search-input{
    width:70%;
  }


 h1.page__title, h1{
   font-size:26px;
   line-height:1.2
 } 
  .scrolling .muziekladder_logo img{
    width:80px;
  }

  #navigation.scrolling {
    height:auto;
  }
  .scrolling #block-system-main-menu .menu li{
    padding-top:18px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;     
  }   
  .bg-image-container{
    display:none
  }
  #block-system-main-menu .menu li{
    height:auto;
    padding-bottom:14px;
  }    
  #navigation {
    width:100%;  
  }

  .bg-image {
    background:none;
    display:none    
  }
  .container h1{  font-size:1em;}
  .brand a{font-size:1em;}
  .locationInfo .description {
    float:none;
    width:auto;
  }
}


